<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="ui two column page grid">
      <div class="left floated three wide column">
        <div class="ui vertical fluid menu">
          <a class="item" href="{{ "/" | preppend: site.baseurl }}">
            <i class="icon file"></i>
            Blog
          </a>
          <a class="item" href="{{ "//github.com/" | append: site.github_username }}">
            <i class="icon github"></i>
            GitHub
          </a>
          <a class="item" href="{{ "/about/" | preppend: site.baseurl }}">
            <i class="icon info"></i>
            About
          </a>
        </div>
      </div>
      <div class="thirteen wide column">
        <div class="ui segment">
          <!--{% include header.html %}-->
          <div class="page-content">
            <div class="wrapper">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
